<h1><%= t("sessions._sign_in") %></h1>
<%= form_for :signin, method: "POST" do |f| %>
	<p>
		<%= f.label :name %><br />
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.label :password %><br />
		<%= f.password_field :password %>
	</p>
	<%= f.submit(I18n.t("users._sign_in")) %>
<% end %>