<h1><%= t "users._entity" %></h1>
<p><b><%= t "users._entity_username" %></b>: <%= @user.name %></p><br>
<p><b><%= t "users._entity_email" %></b>: <%= @user.email %></p><br>
<%= link_to I18n.t("users._edit_entity"), edit_user_path(@user) %>
