<div id="ticket">
	<h2><%= @ticket.title %></h2>
	<span id="author"><%= t "tickets._created_by" %> <%= @ticket.user.email %></span>
	<%= link_to I18n.t("tickets._edit_entity"), [:edit, @project, @ticket] %>
	<%= link_to I18n.t("tickets._delete_entity"), [@project, @ticket], method: :delete,
		data: { confirm: I18n.t("tickets._delete_entity_message_confirm")} %>
	<%= simple_format(@ticket.description) %>
</div>